body{
    font:14px "Lucida Grande" Helvetica, Arial, sans-serif;
    overflow-x: hidden
}

#Gtitre{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: calc(7vmin + 10px);
}
#details {
    font-family: Helvetica;
    font-size: calc(1vmin + 10px);

}

#equipe, #souscription, #contacts{
    z-index: 3;
    background-color: hsla(0, 0%, 100%, 0);
}
.montserrat{
    font-family: 'Montserrat';
}

.information p{
    font-size: 17px;
}
#baniere{
    min-height: 100vh;
}
#fonctionnalites,#applications,#souscription,#equipe{
    z-index: 3;
}

#fonctionnalites div{
    background-color: rgba(255, 255, 255, 0) !important;

}

#applications .card, #souscription .card{
    background-color: rgba(255, 255, 255, 0) !important;
}
#fonctionnalites .card{
}
.annonce{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: underline rgba(255, 255, 255, 0.589);

}
.card-title{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.card{
    cursor: default;
}

#contacts{
    z-index: 3;
    background-color: #afafaf;
}

.fen_attr .icone{
    height:1.2cm;

}

.fenetre{
    box-shadow: 0.3px 0.4px 100px rgba(0, 0, 0, 0.192);
  z-index:0;display: none;position: fixed;left:0;top:0;height: 30%;width: 30%;margin-left: 35%;background-color: rgba(255, 255, 255, 0.884);
}
.fenetre iframe{
    height: 91.26%;
    width: 100%
}
.fenetre #options i{
    cursor: pointer;
}

button{
    opacity: 1;
    z-index: 10000
}