<footer class="footer col-lg-12 col-sm-12 col-md-12 bg-light text-dark" id="contacts">
    <div class="col-12">
        <div class="row p-4">
            <div class="col-lg-6 col-sm-12 col-md-6">
                <span class="">Club Info</span> <span class="lead font-weight-bolder ">|
                    ESATIC</span>
                <p class="" style="font-size:16px">
                   Le club Info de l'ESATIC est un club qui regroupe les passionnés des TIC dans le but de l'apprentissage des nouvelles technologies.
                </p>
            </div>
            <div class="col-lg-6 col-sm-12 col-md-6 text-center ">
                <span class="lead font-weight-bolder">NOUS CONTACTER</span> 
                <p class="" style="font-size:18px">
                  +225 43 813 698
                </p>
                 <p class="" style="font-size:18px">
                   +225 51 886 478
                 </p>
            </div>
        </div>
        <div class="col-12 text-center"><small>Copyrigth <i class="fa fa-copyright" aria-hidden="true"></i> 2019 - Clubinfo</small></div>
    </div>
</footer>