<div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 p-5">
    <div class="form-group">
        <label for="web">*Web</label><br>
        <small class="grey-text">HTML, CSS, JS, PHP</small>
        <div class="input-group">
            <select max="10" maxlength="2" id="compweb"
                class="form-control-plaintext monter border-right-0 border border-secondary rounded-0 grey-text text-darken-2 white p-3"
                type="number" min="0" max="5" maxlength="1">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <div class="input-group-append">
                <span class="input-group-text white border-left-0" id="my-addon">/ 10</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="mobile">*Mobile</label><br>
        <small class="grey-text">Android studio, Flutter, React Native, Ionic</small>

        <div class="input-group">
            <select max="10" maxlength="2" id="compmobile"
                class="form-control-plaintext monter border-right-0 border border-secondary rounded-0 grey-text text-darken-2 white p-3"
                type="number" min="0" max="5" maxlength="1">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <div class="input-group-append">
                <span class="input-group-text white border-left-0" id="my-addon">/ 10</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="motivation">*Intelligence Artificielle</label><br>
        <small class="grey-text">Tensorflow, Keeras</small>
        <div class="input-group">
            <select maxlength="2" max="10" id="compia"
                class="form-control-plaintext monter border-right-0 border border-secondary rounded-0 grey-text text-darken-2 white p-3"
                type="number" min="0" max="5" maxlength="1">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <div class="input-group-append">
                <span class="input-group-text white border-left-0" id="my-addon">/ 10</span>
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="design">*Design</label><br>
        <small class="grey-text">Photoshop, Illustrator, Power point</small>

        <div class="input-group">
            <select max="10" id="compdesign"
                class="form-control-plaintext monter border-right-0 border border-secondary rounded-0 grey-text text-darken-2 white p-3"
                type="number" min="0" max="5" maxlength="1">
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
            </select>
            <div class="input-group-append">
                <span class="input-group-text white border-left-0" id="my-addon">/ 10</span>
            </div>
        </div>
    </div>
    <h5 class="text-dark">Listez vos competences suplementaires (facultatif)</h5>
    <div class="form-group">
        <label for="listcompsup">Exemple : </label><br>
        <small class="grey-text">Java 5/10</small><br>
        <small class="grey-text">Python 3/10</small><br>
        <textarea name="" id="listcompsup"
            class="form-control-plaintext border border-secondary white grey-text text-darken-2 p-2"
            rows="7"></textarea>
    </div>
    <h6>Nb : ces informations ne sont pas à titre éliminatoire.</h6>
    <div class="d-flex justify-content-end">
        <button id="sendButton" class="btn btn-outline-success rounded-0" type="button">Valider
            la demande<i class="fa fa-arrow-right ml-2" aria-hidden="true"></i></button>
    </div>
</div>