<div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 p-5">
    <div class="">
        <div class="form-group">
            <label for="nom">*Nom</label>
            <input id="nom"
                class="form-control-plaintext monter border border-secondary rounded-0 grey-text text-darken-2 white p-3"
                type="text" name="">
        </div>
        <div class="form-group">
            <label for="prenoms">*Prenoms</label>
            <input id="prenoms"
                class="form-control-plaintext monter border border-secondary rounded-0 grey-text text-darken-2 white p-3"
                type="text" name="">
        </div>
        <div class="form-group">
            <label for="dateNaissance">*Date de naissance</label>
            <input id="datenaissance"
                class="form-control-plaintext monter border border-secondary rounded-0 white p-3"
                type="date" name="">
        </div>
        <div class="form-group">
            <label for="classe">*Classe</label>
            <input id="classe"
                class="form-control-plaintext monter border border-secondary rounded-0 grey-text text-darken-2 white p-3"
                type="text" name="">
        </div>
        <div class="form-group">
            <label for="mail">*Mail</label>
            <input id="mail"
                class="form-control-plaintext monter border border-secondary rounded-0 grey-text text-darken-2 white p-3"
                type="text" name="" placeholder="Exple : xxx@yyy.zzz">
        </div>
        <div class="form-group">
            <label for="contact">*Contact</label>
            <input id="contact"
                class="form-control-plaintext monter border border-secondary rounded-0 grey-text text-darken-2 white p-3"
                type="tel" name="" placeholder="Exple : XX XXX XXX">
        </div>
    </div>
</div>