<div class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 p-5 ">

    <div class="form-group">
        <label for="nomProjet">Nom du projet</label>
        <input id="nomProjet"
            class="form-control-plaintext monter border border-secondary rounded-0 grey-text text-darken-2 white p-3"
            autocomplete type="text" name="" placeholder="">
    </div>
    <div class="form-group">
        <label for="categorie">Categorie</label>
        <input id="categorie"
            class="form-control-plaintext monter border border-secondary rounded-0 grey-text text-darken-2 white p-3"
            autocomplete type="text" name="">
    </div>
    <div class="form-group">
        <label for="problematique">Problematique</label>
        <input id="problematique"
            class="form-control-plaintext monter border border-secondary rounded-0 grey-text text-darken-2 white p-3"
            autocomplete type="text" name="">
    </div>
    <div class="form-group">
        <label for="cible">Cible</label>
        <input id="cible"
            class="form-control-plaintext monter border border-secondary rounded-0 grey-text text-darken-2 white p-3"
            autocomplete type="text" name="">

    </div>
    <div class="form-group">
        <label for="description">Description</label>
        <textarea name="" id="description"
            class="form-control-plaintext border border-secondary white grey-text text-darken-2" rows="7">

    </textarea>
    </div>
    <div class="form-group">
        <label for="etatProjet">Etat du projet</label>
        <div class="input-group">
            <input id="etatProjet"
                class="form-control-plaintext monter border border-secondary rounded-0 grey-text text-darken-2 white p-3"
                autocomplete type="text">
        </div>
    </div>

    <div class="form-group">
        <label for="delai">Delai</label>
        <div class="input-group">
            <input id="delai"
                class="form-control-plaintext monter border border-secondary border-right-0 rounded-0 grey-text text-darken-2 white p-3"
                autocomplete type="number" min="0">
            <div class="input-group-append">
                <span class="input-group-text white border-left-0" id="my-addon">Jour(s)</span>
            </div>
        </div>
    </div>

    <div class="form-group">
        <label for="budget">Budget</label>
        <div class="input-group">
            <input id="budget"
                class="form-control-plaintext monter border border-secondary border-right-0 rounded-0 grey-text text-darken-2 white p-3"
                autocomplete type="number" min="0">
            <div class="input-group-append">
                <span class="input-group-text white border-left-0" id="my-addon">F FCA</span>
            </div>
        </div>

    </div>
</div>