<div hidden class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 titreTheme text-success" id="textSend">
    <div class="alert alert-success" role="alert">
        <strong> <i class="mdi-action-autorenew animated infinite rotateIn mr-3"></i>
            Envoie en cours</strong>
    </div>
</div>
<div hidden class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 titreTheme text-danger" id="mailError">
    <div class="alert alert-danger" role="alert">
        <strong>
            Le mail est déja utilisé</strong>
    </div>
</div>
<div hidden class="col-lg-4 offset-lg-4 col-md-6 offset-md-3 titreTheme text-danger" id="phoneError">
    <div class="alert alert-danger" role="alert">
        <strong>
            Le numero est déja utilisé</strong>
    </div>
</div>
<div hidden class="col-lg-4 offset-lg-4 col-md-6 offset-md-3" id="textSuccess">
    <div class="alert alert-success" role="alert">
        <strong>Inscription reussie</strong><br>
        <strong>vous recevrez un mail.</strong>
    </div>
</div>